# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 파일 제외 (파일명.확장자)
.idea/vcs.xml

# 특정 폴더안의 파일 전부 제외
out/production/Back-End-04

# 해당 확장자 파일 전체 제외
*.xml
*.iml
*.json
*.name